@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

:root {
    --TextColor: #271302;
    --Border: 2px solid var(--TextColor);
}


body {
    background-color: hsl(34, 70%, 96%);
    font-family: 'Rubik Mono One', sans-serif;
}


/*---------------------Name Section----------------------*/


.NameSection {
    position: relative;
    height: fit-content;
}

.Bold {
    font-weight: bold;
    font-size: 5em;
    line-height: 1em;
}

.TBmargin {
    margin: 30px 0px;
}

#inlineTop {
    display: inline-block;
    width: 100%;
}

#About {
    float: right;
}

#Name {
    float: left;
    margin: 30px 0px 0px;
    width: fit-content;
}

#BioStud {
    float: left;
    margin: 0px 0px 30px;
    width: fit-content;
}


#inlineBot {
    display: inline-block;
    width: 100%;
}

#Adresse {
    float: left;
}

#Scroll {
    float: right;
}

/*---------------------Banner Image Section----------------------*/

#bannerSection>img {
    width: 100%;
    min-height: 300px;
    object-fit: cover;

}

#bannerSection {
    border-top: var(--Border);
    border-bottom: var(--Border);
}

/*---------------------Qualification Section----------------------*/

#QualificationSection {
    display: flex;
    width: 100%;
    border-bottom: var(--Border);
}

#QualificationSectionTitle{
    border-right: var(--Border);
    width: fit-content;
    padding-right: 10px;
}

#QualificationContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.floatRight {
    display: block;
    text-align: right;
}

a {
    text-decoration: none;
}

/*---------------------Professional Experience Section----------------------*/

#ExperienceProfessionnelle{
    border-bottom: var(--Border);
}


/*---------------------Media Query----------------------*/

@media only screen and (max-width: 412px) {
    .Bold {
        font-size: 3em;
    }
}